.header{
    background-color: #000407;
    color: #32B9CD;
}
.container{
    width:80%;
}

.header .container{ /*Aplica esse bloco de estilo em todo container que estiver dentro do header*/
    display:flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}

p{
    margin: 20px;
}