body{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.header{
    background-color: #000407;
    color: #32B9CD;
    border-bottom: 3px solid #32B9CD;
}
.container{
    width:80%;
    margin: auto;
}

.header .container{ /*Aplica esse bloco de estilo em todo container que estiver dentro do header*/
    display:flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    align-items: center;  /*Alinha verticalmente os items dentro de uma div*/
}

p{
    margin: 20px 30px 40px 50px;
}

.navbar a {
    text-decoration:none;
    color: #E3B062;
}

.agora{
    font-weight: bold;
}

.banner{
    background-image: url(./img/bg-jelly-fish-para_outras_pags.png);
    background-size: cover; /*configura tamnho de fundo*/

}

.banner .container{
    height: 550px;
    display: flex;
    color: white;
    align-items: center;
}

.banner .container.login{
    justify-content: center;
}

.banner p{
    font-size: 36px;
    width: 280px;
    margin-left:20%;
}

.missao-visao-valores{
    width: 80%;
    margin:auto;
    height: 412px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}


.titulo{
    text-align:center;
    color: #E6005A;
    font-size:22px;
    margin-top: 9px;
    font-weight:bold;
}

.missao-visao-valores img{
    width: 150px;
    height:150px; 
    display:flex;
    margin: auto;
}

.missao-visao-valores p{
    width: 180px;
    height: 10px;
    font-size: 16px;
    text-align:center;
}


.footer{
    background-color: #32B9CD;
    color: white;
}

.footer .container{
    display: flex;
    height: 150px;
    justify-content: center; /*alinha na horizontal*/
    align-items: center;
}

/*Login*/
.card{
    background-color: #e5e5e5;
    color: #e6005a;
    width: 400px;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2{
    margin: 0px;
}

form{
    display:flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;
}

form label{
    margin-top: 8px;
    
}
form input{
    margin-top: 8px;
    outline: 3px solid #32B9CD;
    border: 0;
    padding: 8px;
    border-radius:10px;
}

form button {
    margin-top: 16px;
    background-color: #e6005a;
    color: white;
    padding: 10px 15px;
    width: 120px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
/*Border: pixels estilo cor*/